
.thumbnail {
width: 300px;
display: block;
margin-bottom: 15px;
}

.video-title {
width: 240px;
vertical-align: top;
margin: 0;
font-size: 15px;
font-weight: 500;
line-height: 22px;
margin-bottom: 15px;
color: black;
}

@media (max-width: 750px) {
  .video-preview {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-preview {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

p {
display: block;
font-family: Roboto, Arial, Helvetica, sans-serif;
font-size: 13px;
margin-bottom: 7px;
margin-top: 7px;
color:gray ;
}

.video-preview {
width: 300px;
display: inline-block;
margin-right:20px ;
vertical-align: top;
}

.info {
display: inline-block;
vertical-align: top;
}

.div-user-pic{
display: inline-block;
vertical-align: top;
margin-right: 5px;
}

.user-pic {
width: 50px;
height: 50px;
border-radius: 25px;
object-fit: cover;
}

.video-info {
display: inline-block;
}

body {
    margin: 0;
    padding-top: 75px;
    padding-left: 80px;
}

.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    /* padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px; */
    padding: 4px;
    border-radius: 3px;
}

.thumbnail-row {
    position: relative;
}
